*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  left:0;
  top:0;
}

html, body {
  width: auto;
  height: auto;
  overflow-x: auto;
  overflow-y: auto;
}

body {
  background-image: url(./images/fundo.webp) ;
  min-height: 100vh;
  min-width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}
