*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  left:0;
  top:0;
}

html, body {
  width: auto;
  height: auto;
  overflow-x: auto;
  overflow-y: auto;
}

body {
  background-image: url(../images/fundo.webp) ;
  min-height: 100vh;
  min-width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: brightness(15%);
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.container h1 {
  filter: blur(0px) drop-shadow(0 0 10px #00ff15) drop-shadow(0 0 200px #00ff15);
  font-size: 7rem;
}

.container h2 {
  font-size: 5rem;
}

.container h3 {
  font-size: 3rem;
}

@media (max-width: 1060px) {
  .container h1 {
    font-size: 5rem;
    filter: blur(0px) drop-shadow(0 0 10px #F0FF00) drop-shadow(0 0 200px #F0FF00);
  }
  
  .container h2 {
    font-size: 3rem;
  }
  
  .container h3 {
    font-size: 2.5rem;
  }
}